#include ".Xresources.d/colors"
#include ".Xresources.d/typeface"
#include ".Xresources.d/theme"

#include ".Xresources.d/st-term"
!#include ".Xresources.d/i3-wm"
#include ".Xresources.d/i3xrocks"
#include ".Xresources.d/rofi"
#include ".Xresources.d/gnome"
